{% extends "layouts/base-toolbar-top.html" %}

{% load static %}

    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/developer.css' %}">
        
    {% endblock stylesheets %}


{% block content %}
    <!-- ******HEADER****** --> 
    {% include 'about-me/dev-header.html' %}
    <!--//header-->
    
    <div class="container sections-wrapper py-5">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    {% include 'about-me/about.html' %}
                </section><!--//section-->

                <section class="experience section">
                    {% include 'about-me/experience.html' %} 
                </section><!--//section-->
                
                <section class="latest section">
                    {% include 'about-me/latest.html' %}
                </section><!--//section-->
                
                <section class="projects section">
                    
                </section><!--//section-->
                
                
                
                <section class="github section">
                    
                </section><!--//section-->
            </div><!--//primary-->


            <div class="secondary col-lg-4 col-12">
                <aside class="info aside section">
                    {% include 'about-me/info.html' %}   
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    {% include 'about-me/skills.html' %}
                </aside><!--//section-->
                
                <aside class="testimonials aside section">
                    {% include 'about-me/testimonials.html' %}
                </aside><!--//section-->
                
                <aside class="education aside section">
                    {% include 'about-me/education.html' %}
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    {% include 'about-me/languages.html' %}
                </aside><!--//section-->
                
                <aside class="blog aside section">
                    {% include 'about-me/blog-aside.html' %}
                </aside><!--//section-->
                
            
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
{% endblock content %}

{% block javascripts %}
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.j"></script>
    
{% endblock javascripts %}