{% extends "charliauth/layouts/base.html" %}
{% load static %}

{% block body %}

<div id="register" class="p-8">

                        <div class="form-wrapper md-elevation-8 p-8">

                            <div class="title mt-4 mb-8">Create an account</div>

                            <form name="registerForm" novalidate>

                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" id="registerFormInputName" aria-describedby="nameHelp" />
                                    <label for="registerFormInputName">Name</label>
                                </div>

                                <div class="form-group mb-4">
                                    <input type="email" class="form-control" id="registerFormInputEmail" aria-describedby="emailHelp" />
                                    <label for="registerFormInputEmail">Email address</label>
                                </div>

                                <div class="form-group mb-4">
                                    <input type="password" class="form-control" id="registerFormInputPassword" />
                                    <label for="registerFormInputPassword">Password</label>
                                </div>

                                <div class="form-group mb-4">
                                    <input type="password" class="form-control" id="registerFormInputPasswordConfirm" />
                                    <label for="registerFormInputPasswordConfirm">Password (Confirm)</label>
                                </div>

                                <div class="terms-conditions row align-items-center justify-content-center pt-4 mb-8">
                                    <div class="form-check mr-1 mb-1">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" aria-label="Remember Me" />
                                            <span class="checkbox-icon"></span>
                                            <span>I read and accept</span>
                                        </label>
                                    </div>
                                    <a href="#" class="text-secondary mb-1">terms and conditions</a>
                                </div>

                                <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG IN">
                                    CREATE MY ACCOUNT
                                </button>

                            </form>

                            <div class="login d-flex flex-column flex-sm-row align-items-center justify-content-center mt-8 mb-6 mx-auto">
                                <span class="text mr-sm-2">Already have an account?</span>
                                <a class="link text-secondary" href="{% url 'login' %}">Log in</a>
                            </div>

                        </div>
                    </div>

{% endblock body %}