{% extends "layouts/base-toolbar-top.html" %}
{% load static %}

    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/piller.css' %}">
        <style>
        .header-menu {
    background-color: #19444b !important;
}

.header-intro-resume{
    height:320px
}
.header-intro-resume .container{
    max-width:1000px
}
.download-resume{
    right:15px;
    top:0
}

.header-intro{
        text-align:center
    }
.download-resume{
    position:static !important
    margin-left: 100px;
}
.header-intro-resume{
    height:auto
}
</style>
    {% endblock stylesheets %}

{% block content %}

        <div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
	        <div class="container position-relative">

		        <a class="btn theme-btn-on-bg download-resume position-absolute font-weight-bold mx-auto ml-5" href="#" target="_blank"><svg class="svg-inline--fa fa-download fa-w-16 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="download" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"></path></svg><!-- <i class="fas fa-download mr-2"></i> -->Download PDF Version</a>
	        </div><!--//container-->
        </div><!--//header-intro-->

        {% include 'partials/resume.html' %}
    </div>
{% endblock content %}
