{% extends "layouts/base.html" %}
{% load static %}

{% block body %}
    <main>
        <div id="wrapper">
            
            {% include 'includes/aside-left.html' %}

            <div class="content-wrapper">

                {% include 'includes/toolbar-top.html' %}

                
                <div class="content custom-scrollbar">

                    <div class="page-layout blank p-6">

                        {% block content %}
                        {% endblock content %}

                    </div>

                </div>
                
            </div>

        </div>

    </main>
{% endblock body %}